.searchContainer {
  padding: 0 20rpx;
}
.searchContainer .header {
  display: flex;
  height: 60rpx;
  line-height: 60rpx;
  padding: 10rpx 0;
}
.searchContainer .header .searchInput {
  position: relative;
  flex: 1;
  background: rgba(237, 237, 237, 0.3);
  border-radius: 30rpx;
}
.searchContainer .header .searchInput input {
  margin-left: 50rpx;
  height: 60rpx;
}
.searchContainer .header .searchInput .placeholder {
  font-size: 28rpx;
}
.searchContainer .header .searchInput .iconfont {
  position: absolute;
  left: 15rpx;
}
.searchContainer .header .searchInput .clear {
  position: absolute;
  right: 30rpx;
  z-index: 10;
  top: 0;
  font-size: 30rpx;
}
.searchContainer .header .cancel {
  width: 100rpx;
  text-align: center;
}
.searchContainer .header_view_hide {
  display: none;
}
.searchContainer .showSearchContent .searchContent {
  color: #e60012;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 24rpx;
  border-bottom: 1px solid #e60012;
}
.searchContainer .showSearchContent .searchList .searchItem {
  height: 80rpx;
  line-height: 80rpx;
  display: flex;
}
.searchContainer .showSearchContent .searchList .searchItem .content {
  flex: 1;
  margin-left: 20rpx;
  border-bottom: 1px solid #eee;
  font-size: 26rpx;
}
.searchContainer .search_result_songs {
  margin-top: 10rpx;
  border-radius: 20rpx;
  width: 100%;
  height: calc(100vh - 10rpx);
  border: 1rpx solid #eee5e2;
}
.searchContainer .search_result_songs .search-title {
  margin-top: 10rpx;
  margin-left: 15rpx;
}
.searchContainer .search_result_songs .search-title .songTitle {
  font-size: 30rpx;
  margin-top: 10rpx;
  font-weight: 700;
}
.searchContainer .search_result_songs .search-title .openBox {
  margin: 4rpx 0rpx;
  height: 40rpx;
  float: right;
  display: flex;
  flex-direction: row;
  margin-right: 15rpx;
  font-size: 20rpx;
  line-height: 40rpx;
  border-radius: 30rpx;
  border: 1rpx solid #9aa7b1;
}
.searchContainer .search_result_songs .search-title .openBox .iconfont {
  font-size: 20rpx;
  margin: 0rpx 10rpx;
}
.searchContainer .search_result_songs .search-title .openBox text {
  margin-right: 10rpx;
}
.searchContainer .search_result_songs .search_result_song_item {
  margin: 15rpx;
  display: block;
  border-bottom: 1px solid #bdcbd2;
}
.searchContainer .search_result_songs .search_result_song_item .search_song_name {
  font-size: 30rpx;
  font-weight: 700;
  color: #2c2f3b;
  margin-bottom: 15rpx;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.searchContainer .search_result_songs .search_result_song_item .search_song_art-album {
  font-size: 20rpx;
  font-weight: 500;
  margin-bottom: 10rpx;
  color: #000;
  font-weight: lighter;
}
.searchContainer .search_result_songs .search_result_song_item .textIcon {
  margin-top: -80rpx;
  float: right;
}
.searchContainer .search_result_songs .search_result_song_item .textIcon .iconfont {
  font-size: 40rpx;
}
.searchContainer .history {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  line-height: 50rpx;
  margin: 20rpx 0;
}
.searchContainer .history .title {
  font-size: 28rpx;
  height: 50rpx;
}
.searchContainer .history .historyItem {
  height: 50rpx;
  font-size: 26rpx;
  background-color: #ededed;
  margin-left: 20rpx;
  padding: 0 30rpx;
  border-radius: 20rpx;
  margin-bottom: 20rpx;
}
.searchContainer .history .iconfont {
  position: absolute;
  bottom: 10rpx;
  right: 15rpx;
  font-size: 36rpx;
}
.searchContainer .hotContainer {
  margin-top: 30rpx;
}
.searchContainer .hotContainer .title {
  font-size: 28rpx;
  height: 80rpx;
  line-height: 80rpx;
  border-bottom: 1px solid #eee;
}
.searchContainer .hotContainer .hotlist {
  display: flex;
  flex-wrap: wrap;
}
.searchContainer .hotContainer .hotlist .hotItem {
  width: 50%;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 26rpx;
}
.searchContainer .hotContainer .hotlist .hotItem .order {
  margin: 0 10rpx;
}
.searchContainer .hotContainer .hotlist .hotItem .iconImg {
  width: 35rpx;
  height: 20rpx;
  margin-left: 10rpx;
}
